.blog-main {
  width: 1200px;
  margin: 0 auto;
  /*background-color: #fff;*/
  padding-top: 75px;
  box-sizing: border-box;
  min-height: calc(100vh - 30px);
}
.txt-hidden-1{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}